<h1>Your Shoo Order</h1>

<div id="name"><h3>Name:</h3>
<p><%= @shoo.pretty_name %></p></div>

<div id="address"><h3>Address</h3>
<p><%= @shoo.address %></p></div>

<div id="size"><h3>Size</h3>
<p><%= @shoo.size %></p></div>

<div id="quantity"><h3>Quantity</h3>
<p><%= @shoo.quantity %></p></div>

<div id="cost"><h3>Total Cost</h3>
<p><%= @shoo.total_cost %> Smakaroonies (You've probably never heard of them)</p></div>